#footer {
  &_top {
    h6 {
      margin-bottom: 1.75rem;
    }
    .nav-footer {
      ul {
        li {
          font-size: 0.875rem;
          &:not(:last-child) {
            margin-bottom: 1rem;
          }
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}
