section.block__text-cards{
  background-color: white;

  .right {
    padding: 0;
    margin: 0;
  }

  .row {
    @include media-breakpoint-down(lg) {
      gap: 3rem;
    }
  }
  
  &::before {
    content: url(@/img/hexagons-1.svg);
    position: absolute;
    left: 0; 
    bottom: 0;
    pointer-events: none;
  } 

  .left {
    @include media-breakpoint-up(lg) {
      padding-right: 5rem;
    }
  }

  .cards {
    display: grid;
    grid-template-rows: auto auto; 
    gap: 1rem; 
    width: 100%; 
    height: 100%;
    margin: 0;
    padding: 1rem;

    @include media-breakpoint-up(lg) {
      grid-template-columns: 50% 50%; 
    }

  }

  .card {
    background-color: #F7F7F7;
    border-radius: 0;
    border: 0;
    display: flex;
    gap: 2rem;
    padding: 2rem;
    flex-direction: row;
    align-items: center;
  }
}
  
  
  