section.block__accordion {
  overflow: hidden;

  .accordion-button, .accordion-item {
    background-color: white !important;
  }
  
  h2 {
    color: $gray-900;
  }

  .left {
    padding: 5rem;
    background-color: #FFB800;
    position: relative;

    &::before {
      content: url(@/img/hexagons-2.svg); 
      position: absolute;
      left: 0; 
      bottom: 0;
      pointer-events: none;
    }
  }

  .right {
    padding: 5rem;
    background-color: white;
    @include media-breakpoint-down(lg) {
      padding: 3rem;
    }
  }

  .accordion {
    &-item {
      color: $dark;
    }
    &-body {
      color: $dark;
      a {
        text-decoration: underline;
      }
    }
    &-footer {
      color: $dark;
    }
    .collapse {
      padding: 2rem 1rem;
    }
  }
}
