section.block__form {
    &::before {
        content: url(../img/form-hexagons.svg); 
        position: absolute;
        right: 0; 
        display: block;
        // bottom: 0;
        z-index: -1;
    }

    legend, label.gfield_label.gform-field-label {
        font-weight: 500 !important;
    }

    label.gform-field-label.gform-field-label--type-sub {
        display: none;
    }

    input, textarea {
        background-color: transparent !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        border: solid 1px $gray-800 !important;
    }

    input#gform_submit_button_1 {
        border-radius: 0 !important;
        padding: 12px 32px !important;
    }

    .gform-body.gform_body {
        margin-bottom: 4rem;
    }
}