section.block__slider-logo {

  .image-slider {
    padding: 2rem 0;
  
    .swiper-slide {
      flex: 0 0 auto;
      width: auto !important;
      max-width: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      @include media-breakpoint-up(xl) {
        width: 25% !important;
      }
    }
  
    .swiper-slide img {
      width: 100%;
      max-width: 200px;
      height: auto;
      object-fit: contain;
      border-radius: 8px;
    }
  
    // .swiper-button-next,
    // .swiper-button-prev {
    //   position: absolute;
    //   top: 50%;
    //   transform: translateY(-50%);
    //   z-index: 10;
    //   background-color: rgba(0, 0, 0, 0.5);
    //   border-radius: 50%;
    //   padding: 10px;
    //   color: white;
    //   cursor: pointer;
    // }
  
    // .swiper-button-prev { left: 0; }
    // .swiper-button-next { right: 0; }
  
    .swiper-pagination {
      margin-top: 1rem;
      text-align: center;
    }
  
    .swiper-pagination-bullet {
      background: $gray-500;
    }
  
    .swiper-pagination-bullet-active {
      background: $yellow-500;
    }
  }
  
}