.btn-outline-primary {
    --bs-btn-color: $gray-800;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: none;
    --bs-btn-hover-bg: none;
    --bs-btn-hover-border-color: none;
    --bs-btn-focus-shadow-rgb: none;
    --bs-btn-active-color: none;
    --bs-btn-active-bg: $yellow;
    --bs-btn-active-border-color: none;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: none;
    --bs-btn-disabled-bg: none;
    --bs-btn-disabled-border-color: none;
    --bs-gradient: none;
    border-bottom: 1px solid $gray-800;
    padding-left: .3rem;
    padding-right: .3rem;
    padding-bottom: .3rem;

    &::after {
        content: url(/static/img/arrow-small.svg);
        padding-left: .7rem;
    }
}

.btn-outline-primary-yellow {
    --bs-btn-color: #FFBC00;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: #FFBC00;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-focus-shadow-rgb: transparent;
    --bs-btn-active-color: #FFBC00;
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: transparent;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #FFBC00;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: transparent;
    --bs-gradient: none;
    
    border-bottom: 1px solid $yellow;
    padding-left: .3rem;
    padding-right: .3rem;
    padding-bottom: .3rem;

    // Impedisci cambiamenti all'hover
    &:hover,
    &:focus,
    &:active {
        color: #FFBC00 !important;
        background-color: transparent !important;
        box-shadow: none !important;
        border-bottom: 1px solid $yellow;
    }

    &::after {
        content: url(/static/img/arrow-small-yellow.svg);
        padding-left: .7rem;
    }
}

.btn-secondary {
    display: inline-flex;
    align-items: center;
    
    &::after {
        content: url(/static/img/arrow-right-big.svg);
        padding-left: .7rem;
        display: inline-block;
        height: 25px;
    }
}

.btn-primary {
    display: inline-flex;
    align-items: center;
    
    &::after {
        content: url(/static/img/arrow-right-big.svg);
        padding-left: .7rem;
        display: inline-block;
        height: 25px;
    }
}