.btn-primary {
    color: $gray-800;
    background-color: $yellow-500;
    border: none;
    padding: .75rem 1.5rem;
    display: inline-flex;
    align-items: center;
    transition: all 0.2s ease;

    &::after {
        content: url(/static/img/arrow-right-big.svg);
        padding-left: .7rem;
    }

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
        background-color: $yellow-500;
    }
}  

.btn-outline-primary {
    --bs-btn-color: $gray-800;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: $gray-800;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: none;
    --bs-gradient: none;
  
    border-bottom: 1px solid $gray-800;
    padding: 0 0.3rem 0.3rem;
    background-color: transparent;
  
    &::after {
      content: url(/static/img/arrow-small.svg);
      padding-left: 0.7rem;
    }
  
    &:hover,
    &:focus,
    &:active,
    &.active,
    &:focus-visible {
      background-color: transparent !important;
      box-shadow: none;
      outline: none;
    }
}
  

.btn-outline-primary-yellow {
    --bs-btn-color: #{$yellow-500};
    --bs-btn-border-color: none;
    --bs-btn-hover-color: #{$yellow-500};
    --bs-btn-hover-bg: none;
    --bs-btn-hover-border-color: none;
    --bs-gradient: none;
  
    border-bottom: 1px solid $yellow-500;
    padding: 1.5rem 0.3rem 0.3rem 0.3rem;
  
    &::after {
      content: url(/static/img/arrow-small-yellow.svg);
      padding-left: 0.7rem;
    }
}

.btn-secondary {
    color: $gray-800;
    background-color: $white;
    border: none;
    padding: .75rem 1.5rem;
    display: inline-flex;
    align-items: center;
    transition: all 0.2s ease;

    &::after {
        content: url(/static/img/arrow-right-big.svg);
        padding-left: .7rem;
    }

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }
}
  
.btn-underline {
    background-color: transparent !important;
    border-bottom: 1px solid black !important;
    padding: .5rem .2rem;

    &::after {
        content: url(/static/img/arrow-small.svg);
        padding-left: .7rem;
    }
}

// .btn-secondary {
//     display: inline-flex;
//     align-items: center;
    
//     &::after {
//         content: url(/static/img/arrow-right-big.svg);
//         padding-left: .7rem;
//         display: inline-block;
//         height: 25px;
//     }
// }



.btn-download {
    color: $gray-800;
    background-color: $yellow-500;
    border: none;
    padding: .75rem 1.5rem;
    display: inline-flex;
    align-items: center;
    transition: all 0.2s ease;
    
    &::after {
        content: url(/static/img/icon-download.svg);
        padding-left: .7rem;
    }

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
        background-color: $yellow-500;
    }
}