input[type="checkbox"] {
  border: 1px solid $gray-500 !important;
  accent-color: $yellow !important;

  &:checked {
    background: $gray-800 !important;
  }
}

input[type="radio"] {
  accent-color: $yellow !important;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
  height: 48px;
  border-radius: 4px;
  border: 1px solid $gray-600;
  margin-top: 0.5rem !important;
  padding: 0 0.5rem;
}

textarea {
  border-radius: 4px;
  border: 1px solid $gray-600;
  margin-top: 0.5rem !important;
  padding: 0 0.5rem;
}

// Select
.selection {
  .select2-selection {
    height: 48px;
    display: flex;
    align-items: center;
    .select2-selection__arrow {
      top: 10px;
    }
  }
}
